streamlit
pymongo
python-dotenv
google-generativeai
PyPDF2
pandas
altair
tqdm
langchain
langchain-google-genai
chromadb
langchain-community
langchain-classic
langchain-text-splitters
pydantic
langchain-chroma
pypdf
descope
python-docx
gTTS
# --- Personalized Recitation module ---
TTS>=0.22.0
torch
pydub
soundfile
Pillow
